/.Rhistory
/11 (update 20210711) week_report_final.sas
/2200次访问.xlsx
/ACACIA-qualityresult-hwj-20231112.xlsx
/antibiotic_analysis.nb.html
/antibiotic_analysis.Rmd
/antibiotic_analysis_250530.nb.html
/antibiotic_by_casetype.png
/antibiotic_distribution.pdf
/antibiotic_distribution_01.jpg
/antibiotic_drug_summary_by_cases.xlsx
/antibiotic_prescription_rate-combine.csv
/antibiotic_prescription_rate.csv
/antibotic_drug_info_by_cases-2025-05-14.xlsx
/antibotic_drug_info_by_cases-2025-05-24.xlsx
/antibotic_drug_info_by_cases-2025-05-25.xlsx
/antibotic_drug_info_by_cases-2025-05-26.xlsx
/antibotic_drug_info_by_cases-2025-05-27.xlsx
/antibotic_drug_info_by_cases-2025-05-28.xlsx
/antibotic_drug_info_by_cases-2025-05-31.xlsx
/antibotic_drug_info_by_cases-2025-06-01.xlsx
/antibotic_drug_info_by_cases-2025-06-07.xlsx
/antibotic_drug_info_by_cases-2025-06-11.xlsx
/antibotic_drug_info_by_cases-2025-06-12.xlsx
/antibotic_drug_info_by_cases-2025-06-13.xlsx
/antibotic_drug_info_by_cases-2025-06-14.xlsx
/antibotic_drug_info_by_cases-2025-06-17.xlsx
/antibotic_drug_info_by_cases-2025-06-19.xlsx
/antibotic_drug_info_by_cases-2025-06-22.xlsx
/antibotic_drug_info_by_cases-2025-06-23.xlsx
/antibotic_drug_info_by_cases-2025-06-24.xlsx
/antibotic_drug_info_by_cases-2025-06-25.xlsx
/antibotic_drug_info_by_cases-2025-06-26.xlsx
/antibotic_drug_info_by_cases-2025-06-27.xlsx
/antibotic_drug_info_by_cases-2025-06-29.xlsx
/antibotic_drug_info_by_cases-2025-06-30.xlsx
/antibotic_drug_info_by_cases-2025-07-02.xlsx
/antibotic_drug_info_by_cases-2025-07-03.xlsx
/antibotic_drug_info_by_cases-2025-07-04.xlsx
/antibotic_drug_info_by_cases-2025-07-05.xlsx
/antibotic_drug_info_by_cases-2025-07-06.xlsx
/antibotic_drug_info_by_cases-2025-07-20.xlsx
/antibotic_drug_info_by_cases-2025-07-21.xlsx
/antibotic_drug_info_by_cases-2025-07-29.xlsx
/antibotic_drug_info_by_cases-2025-08-21.xlsx
/antibotic_drug_info_by_cases-2025-08-22.xlsx
/antibotic_drug_info_by_cases-2025-08-27.xlsx
/antibotic_treatments_by_cases-2025-05-14.xlsx
/antibotic_treatments_by_cases-2025-05-24.xlsx
/antibotic_treatments_by_cases-2025-05-25.xlsx
/antibotic_treatments_by_cases-2025-05-26.xlsx
/antibotic_treatments_by_cases-2025-05-27.xlsx
/antibotic_treatments_by_cases-2025-05-28.xlsx
/antibotic_treatments_by_cases-2025-06-01.xlsx
/antibotic_treatments_by_cases-2025-06-07.xlsx
/antibotic_treatments_by_cases-2025-06-11.xlsx
/antibotic_treatments_by_cases-2025-06-12.xlsx
/antibotic_treatments_by_cases-2025-06-13.xlsx
/antibotic_treatments_by_cases-2025-06-14.xlsx
/antibotic_treatments_by_cases-2025-06-17.xlsx
/antibotic_treatments_by_cases-2025-06-19.xlsx
/antibotic_treatments_by_cases-2025-06-22.xlsx
/antibotic_treatments_by_cases-2025-06-23.xlsx
/antibotic_treatments_by_cases-2025-06-24.xlsx
/antibotic_treatments_by_cases-2025-06-25.xlsx
/antibotic_treatments_by_cases-2025-06-26.xlsx
/antibotic_treatments_by_cases-2025-06-27.xlsx
/antibotic_treatments_by_cases-2025-06-29.xlsx
/antibotic_treatments_by_cases-2025-06-30.xlsx
/antibotic_treatments_by_cases-2025-07-02.xlsx
/antibotic_treatments_by_cases-2025-07-03.xlsx
/antibotic_treatments_by_cases-2025-07-04.xlsx
/antibotic_treatments_by_cases-2025-07-05.xlsx
/antibotic_treatments_by_cases-2025-07-06.xlsx
/antibotic_treatments_by_cases-2025-07-20.xlsx
/antibotic_treatments_by_cases-2025-07-21.xlsx
/antibotic_treatments_by_cases-2025-07-29.xlsx
/antibotic_treatments_by_cases-2025-08-21.xlsx
/antibotic_treatments_by_cases-2025-08-22.xlsx
/antibotic_treatments_by_cases-2025-08-27.xlsx
/ATC-2025-06-04.xlsx
/ATC-2025-06-17.xlsx
/ATC-2025-06-30.xlsx
/ATC-2025-07-03.xlsx
/ATC-2025-07-05.xlsx
/ATC-2025-07-29.xlsx
/ATC2-2025-07-03.xlsx
/ATC2-2025-07-05.xlsx
/ATC2-2025-07-29.xlsx
/ATC_by_case_type.csv
/ATC_by_case_type_with_total.csv
/ATC_by_case_type_with_total_column.csv
/AWaRe_by_Feature_233Fixed_20250619.xlsx
/AWaRe_Case_Summary_20250623_130708.xlsx
/AWaRe_Case_Summary_20250629_172704.xlsx
/AWaRe_Case_Summary_20250630_151438.xlsx
/AWaRe_Case_Summary_20250630_154123.xlsx
/AWaRe_Case_Summary_20250702_142131.xlsx
/AWaRe_Case_Summary_20250703_081342.xlsx
/AWaRe_Case_Summary_20250705_160414.xlsx
/AWaRe_Case_Summary_20250705_161548.xlsx
/AWaRe_Case_Summary_20250721_112300.xlsx
/AWaRe_Case_Summary_20250729_073623.xlsx
/AWaRe_FixedDenominator233.xlsx
/AWaRe_Usage_By_Case.xlsx
/AWaRe_Usage_By_Case_20250617_094937.xlsx
/AWaRe_Usage_By_Case_20250619_081106.xlsx
/AWaRe_Usage_By_Case_20250619_081941.xlsx
/AWaRe_Usage_By_Case_20250619_082415.xlsx
/AWaRe_Usage_By_Case_20250622_195046.xlsx
/AWaRe_Usage_By_Case_20250622_200716.xlsx
/AWaRe_Usage_By_Case_20250622_202424.xlsx
/AWaRe_Usage_By_Case_20250622_203021.xlsx
/AWaRe_Usage_By_Case_20250623_125436.xlsx
/AWaRe_Usage_By_Case_20250623_130338.xlsx
/AWaRe_Usage_By_Case_20250630_154200.xlsx
/AWaRe_Usage_By_Case_20250630_154250.xlsx
/AWaRe_Usage_By_Case_20250702_142145.xlsx
/AWaRe_Usage_By_Case_20250703_081354.xlsx
/AWaRe_Usage_By_Case_20250705_160429.xlsx
/AWaRe_Usage_By_Case_20250705_161605.xlsx
/codebook
/correlation_matrix.csv
/crontab_task
/crontab_task_dockerized
/crontab_task_dockerized_dev
/crontab_task_dockerized_dev_20230331_bak
/data
/data_national_survey.rda
/data_national_survey_250513.rda
/data_national_survey_replaced_add_r.rda
/essential_medicine_by_case.csv
/essential_medicine_summary.csv
/final_data_output.xlsx
/Firth_Logistic_OR_Table-2.csv
/Firth_Logistic_OR_Table-3.csv
/Firth_Logistic_OR_Table.csv
/formal_data_clean_with_sp_name.csv
/institution-2025-06-04.xlsx
/institution-2025-06-13.xlsx
/institution-2025-06-17.xlsx
/issues
/Logistic_OR_Table-3.csv
/main_render.R
/mediation_data.csv
/multivariable_logistic_results.csv
/multi_results-2025-06-05.xlsx
/multi_results-2025-06-14.xlsx
/multi_results-2025-06-22.xlsx
/multi_results-2025-06-23.xlsx
/multi_results-2025-06-24.xlsx
/multi_results-2025-06-25.xlsx
/multi_results-2025-06-26.xlsx
/multi_results2-2025-06-26.xlsx
/multi_results2-2025-06-27.xlsx
/multi_results2-2025-06-29.xlsx
/multi_results2-2025-06-30.xlsx
/multi_results2-2025-07-02.xlsx
/multi_results2-2025-07-03.xlsx
/multi_results2-2025-07-05.xlsx
/multi_results2-2025-07-06.xlsx
/multi_results2-2025-07-20.xlsx
/multi_results2-2025-07-21.xlsx
/multi_results_houyu-2025-07-20.xlsx
/multi_results_houyu-2025-07-21.xlsx
/or_table-2025-06-05.xlsx
/or_table-2025-06-14.xlsx
/or_table-2025-06-19.xlsx
/or_table-2025-06-22.xlsx
/or_table-2025-06-23.xlsx
/or_table-2025-06-24.xlsx
/or_table-2025-06-25.xlsx
/or_table-2025-06-26.xlsx
/or_table_firth-2025-06-05.xlsx
/or_table_firth-2025-06-13.xlsx
/or_table_firth-2025-06-14.xlsx
/or_table_firth-2025-06-17.xlsx
/or_table_firth-2025-06-22.xlsx
/or_table_firth-2025-06-23.xlsx
/or_table_firth-2025-06-24.xlsx
/or_table_firth-2025-06-25.xlsx
/or_table_firth-2025-06-26.xlsx
/or_table_firth-2025-06-27.xlsx
/or_table_firth-2025-06-29.xlsx
/or_table_firth-2025-06-30.xlsx
/or_table_firth-2025-07-02.xlsx
/or_table_firth-2025-07-03.xlsx
/or_table_firth-2025-07-04.xlsx
/or_table_firth-2025-07-05.xlsx
/or_table_firth-2025-07-06.xlsx
/or_table_firth-2025-07-20.xlsx
/or_table_firth-2025-07-21.xlsx
/or_table_firth-2025-07-29.xlsx
/other_validations
/output_by_case_type-11.xlsx
/output_by_case_type.xlsx
/papers_results.nb.html
/papers_results.Rmd
/prescription_rate_data.csv
/prescription_rate_data.xlsx
/results
/robustness_univ_results.xlsx
/robustness_univ_results_20250622_173624.xlsx
/robustness_univ_results_20250622_193737.xlsx
/robustness_univ_results_20250622_200007.xlsx
/robustness_univ_results_20250622_201830.xlsx
/robustness_univ_results_20250623_124415.xlsx
/robustness_univ_results_20250624_100419.xlsx
/robustness_univ_results_20250625_094803.xlsx
/robustness_univ_results_20250626_080404.xlsx
/robustness_univ_results_20250626_082123.xlsx
/robustness_univ_results_20250626_101002.xlsx
/robustness_univ_results_20250626_181648.xlsx
/robustness_univ_results_20250626_184251.xlsx
/robustness_univ_results_20250626_184427.xlsx
/robustness_univ_results_20250626_184609.xlsx
/robustness_univ_results_20250627_162627.xlsx
/robustness_univ_results_20250629_162246.xlsx
/robustness_univ_results_20250629_195726.xlsx
/robustness_univ_results_20250630_103438.xlsx
/robustness_univ_results_20250630_142656.xlsx
/robustness_univ_results_20250630_150425.xlsx
/robustness_univ_results_20250630_152322.xlsx
/robustness_univ_results_20250702_085556.xlsx
/robustness_univ_results_20250702_141327.xlsx
/robustness_univ_results_20250702_224022.xlsx
/robustness_univ_results_20250705_160223.xlsx
/robustness_univ_results_20250706_124507.xlsx
/robustness_univ_results_20250720_130640.xlsx
/robustness_univ_results_20250720_131305.xlsx
/robustness_univ_results_20250720_132357.xlsx
/robustness_univ_results_20250720_194046.xlsx
/robustness_univ_results_20250721_101154.xlsx
/robustness_univ_results_20250721_215058.xlsx
/robustness_univ_results_houyu20250720_132532.xlsx
/robustness_univ_results_houyu20250720_194122.xlsx
/robustness_univ_results_houyu20250721_101322.xlsx
/robustness_univ_results_houyu20250721_211056.xlsx
/robustness_univ_results_houyu20250721_215108.xlsx
/Table3-原表.xlsx
/test-pdf.pdf
/test-pdf.Rmd
/tmp.csv
/univariate_logistic_results.csv
/univariate_logistic_results_20250619_144114.csv
/univariate_logistic_results_20250619_145107.csv
/univariate_logistic_results_20250619_151247.csv
/univariate_logistic_results_20250622_173544.csv
/univariate_logistic_results_20250622_193520.csv
/univariate_logistic_results_20250622_201739.csv
/univariate_logistic_results_20250623_124328.csv
/univariate_logistic_results_20250624_100329.csv
/univariate_logistic_results_20250625_094720.csv
/univariate_logistic_results_20250626_080317.csv
/univariate_logistic_results_20250626_094330.csv
/univariate_logistic_results_20250626_094750.csv
/univariate_logistic_results_20250626_173852.csv
/univariate_logistic_results_20250626_174700.csv
/univariate_logistic_results_20250626_183635.csv
/univariate_logistic_results_20250627_153953.csv
/univariate_logistic_results_20250627_154635.csv
/univariate_logistic_results_20250627_162300.csv
/univariate_logistic_results_20250627_172505.csv
/univariate_logistic_results_20250629_153715.csv
/univariate_logistic_results_20250629_155823.csv
/univariate_logistic_results_20250629_195635.csv
/univariate_logistic_results_20250630_101421.csv
/univariate_logistic_results_20250630_101919.csv
/univariate_logistic_results_20250630_142619.csv
/univariate_logistic_results_20250630_145617.csv
/univariate_logistic_results_20250630_150348.csv
/univariate_logistic_results_20250630_152248.csv
/univariate_logistic_results_20250702_085500.csv
/univariate_logistic_results_20250702_093241.csv
/univariate_logistic_results_20250702_223941.csv
/univariate_logistic_results_20250703_081050.csv
/univariate_logistic_results_20250704_113358.csv
/univariate_logistic_results_20250705_160137.csv
/univariate_logistic_results_20250705_211325.csv
/univariate_logistic_results_20250706_124424.csv
/univariate_logistic_results_20250720_125709.csv
/univariate_logistic_results_20250720_132254.csv
/univariate_logistic_results_20250720_193641.csv
/univariate_logistic_results_20250720_193747.csv
/univariate_logistic_results_20250721_101136.csv
/univariate_logistic_results_20250721_124419.csv
/univariate_logistic_results_20250721_171948.csv
/univariate_logistic_results_20250721_205930.csv
/univariate_logistic_results_20250721_215029.csv
/univariate_logistic_results_20250729_073138.csv
/univariate_logistic_results_20250821_204727.csv
/univariate_logistic_results_20250827_095642.csv
/univariate_overall_pvalues.csv
/utils
/vif_results.csv
/全国调查访问安排.xlsx
/基药统计_20250619_111604.xlsx
/基药统计_含列合计_20250619_111839.xlsx
/基药统计_含列合计_20250624_101321.xlsx
/基药统计_含列合计_20250629_175617.xlsx
/基药统计_含列合计_20250629_180228.xlsx
/基药统计_含列合计_20250629_180259.xlsx
/基药统计_含列合计_20250629_180756.xlsx
/基药统计_含列合计_20250630_154353.xlsx
/基药统计_含列合计_20250705_161642.xlsx
/基药统计_含汇总_20250619_111725.xlsx
/抗生素处方统计表-20250613.csv
/抗生素处方统计表-20250613.xlsx
/抗生素处方统计表-20250617.csv
/抗生素处方统计表-20250619.csv
/抗生素处方统计表-20250622.csv
/抗生素处方统计表-20250623.csv
/抗生素处方统计表-20250629.csv
/抗生素处方统计表-20250630.csv
/抗生素处方统计表-20250702.csv
/抗生素处方统计表-20250703.csv
/抗生素处方统计表-20250705.csv
/抗生素处方统计表-20250721.csv
/抗生素处方统计表-20250729.csv
/抗生素处方统计表0623-20250623.csv
/抗生素处方统计表0623-20250629.csv
/抗生素处方统计表0623-20250630.csv
/抗生素处方统计表0623-20250702.csv
/抗生素处方统计表0623-20250703.csv
/抗生素处方统计表0623-20250705.csv
/抗生素处方统计表0623-20250721.csv
/抗生素处方统计表0623-20250729.csv
/表5a_基药目录分布_20250617.xlsx